$headerBackground: url("../img/header_background_v1.jpg");
$buttonColor: #009999;
$headerTextColor: #ffffff;
$font: 'Roboto', sans-serif;
$articleBackground: #efefef;
$mainBackground: #ffffff;
$mainTextColor: #000000;
$articleHeader: #0097a7;
$articleDateColor: #ff0000;