$headerBackground: url("../img/header_background_v2.jpg");
$buttonColor: #000099;
$headerTextColor: #f05722;
$font: 'Noto Serif', serif;
$articleBackground: #ffffff;
$mainBackground: #efefef;
$mainTextColor: #757575;
$articleHeader: #607d9e;
$articleDateColor: #bdcbdf;